.low4ey{
    padding: 3px;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.low4ey::after, .low4ey::before{
    content: ' ';
    position: absolute;
    background-image: conic-gradient(from var(--angle),#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 10px;
    animation: 3s spin linear infinite;

}
.low4ey::before{
    filter:blur(1.rem);
    opacity: 0.5;
}

@keyframes spin{
    0%{
       --angle:0deg;
    }
    100%{
        --angle:360deg;
    }
    
}
